<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         colors="true">

    <!-- Configuration for handling exceptions and errors -->
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
        <ini name="log_errors" value="1" />
        <ini name="error_log" value="php://stderr" />

        <env name="DB_NAME" value="/data/db.sqlite"/>
        <env name="DB_DRIVER" value="pdo_sqlite"/>
    </php>



    <testsuites>
        <testsuite name="Doctrine Generic Filter">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
