<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="./bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite name="Doctrine Generic Filter">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
